server:
  port: ${SERVER_PORT:8080}

spring:

  output:
    ansi:
      enabled: ALWAYS
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDB103Dialect
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:create-drop}
      show-sql: true
  datasource:
    url: ${MARIADB_URL:jdbc:mariadb://localhost:3306/flight}
    username: ${MARIADB_USER:root}
    password: ${MARIADB_PASSWORD:mypass}

jwt:
  token:
    validity: 18000
    prefix: Bearer
  signing:
    key: signingkey
  authorities:
    key: roles
  header:
    string: Authorization

mailing:
  sendgrid:
    api-key: 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
    enabled: true
